@import "tailwindcss";
@keyframes glowEffect {
    0% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 255, 0, 1);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    }
  }
  
  .animate-glow {
    animation: glowEffect 1.5s infinite alternate;
  }
  